/* Defined Variable */
:root {
    --navy_color: rgba(25, 30, 41, 1);
    --green_color: rgba(1, 195, 141);
    --white-color: rgba(245, 248, 255, 1);
    --blue-white: rgba(235, 241, 255, 1);
    --main-font: "Black Future", "sans-serif";
    --sup-font: "Lato", sans-serif;
    --messurments: 1440;
    --card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 5;
}

@font-face {
    font-family: "Black Future";
    src: url("../assets/black-future.ttf") format("trueytype");
    src: url("../assets/black-future.otf") format("opentype");
}



/* Body style */
html, body {
    padding: 0;
    margin: 0;
    cursor: none;
}
body {
    font-family: var(--sup-font);
    color: var(--white-color);
    background-color: var(--navy_color);
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}



/* Custom Mouse Cursor style */
.custom-mouse-cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    mix-blend-mode: none;
}
.cursor-shape {
    position: absolute;
    background-image: url('../assets/custom-mouse-icon-s.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cursor-big-shape {
    width: 40px;
    height: 40px;
    mix-blend-mode: difference;
}
.cursor-small-shape {
    width: 20px;
    height: 20px;
    mix-blend-mode: difference;
}



/* Navigation Bar style */
.navigation-bar-root {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: calc(8 / var(--messurments)* 100vw);
}
.navigation-wrap {
    padding: max(8px, calc(8 / var(--messurments)* 100vw)) calc(8 / var(--messurments)* 100vw);
    position: relative;
}
.navigation-content {
    font-size: max(12px, calc(12 / var(--messurments) * 100vw));
    text-transform: uppercase;
    line-height: 116%;
    letter-spacing: -.02em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: calc(20 / var(--messurments) * 100vw);
    column-gap: calc(20 / var(--messurments)* 100vw);
}
.nav-logo {
    grid-column: span 4;
}
.nav-logo-bt {
    position: absolute;
    padding: 0;
    cursor: none;
}
.nav-logo-img {
    width: 40px;
}
.nav-menu-wrap {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid var(--white-color);
    border-radius: 10px;
    backdrop-filter: blur(3rem);
}
.nav-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: max(40px ,calc(40 / var(--messurments)* 100vw));
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-menu-link {
    color: var(--white-color);
    text-decoration: none;
    cursor: none;
}
.nav-btns {
    position: relative;
    grid-column: span 4;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: max(2px, calc(2 / var(--messurments)* 100vw));
    z-index: 1;
}
.apply-now-bt {
    width: max(132px, calc(132 / var(--messurments)* 100vw));
    padding-left: max(8px, calc(8 / var(--messurments)* 100vw));
    padding-right: max(16px, calc(16 / var(--messurments)* 100vw));
    height: max(32px, calc(32 / var(--messurments)* 100vw));
    border-radius: max(12px, calc(12 / var(--messurments)* 100vw));
    background-color: var(--green_color);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    align-content: center;
    cursor: none;
}



/* Landing section style: */
.landing-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.landing-text-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    position: relative;
}
.landing-text-title {
    font-family: var(--main-font);
    font-size: 6vw;
    margin: -3vw 0 0 0;
    padding: 0;
}
.landing-text-tagline {
    font-size: 2vw;
}
.landing-bg-img {
    position: relative;
    z-index: 1;
}
#earthCanvas {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -60.5%);
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}



/* office space style */
.office-space-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--green_color);
    padding: 20px;
}
.space-text-container {
    flex: 1;
    position: sticky;
    top: 20vh;
    margin-right: 20px;
    padding: 40px;
    background-color: var(--navy_color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: var(--white-color);
}
.space-title {
    font-size: 4vw;
    margin: 50px 0;
}
.space-par {
    font-size: 2vw;
    width: 85%;
    margin: 50px 0;
}
.cape-town-link {
    text-decoration: none;
    color: var(--white-color);
}
.space-img-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.img-card {
    padding: 5px;
    background-color: var(--navy_color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.img-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}



/* companies in office style */
.campnies-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.coworking-collab-title {
    font-size: 4vw;
    color: var(--green_color);
    margin: 10px;
}
.coworking-collab-par {
    font-size: 1vw;
    width: 70%;
    margin: 0 0 100px 0;
}
.collab-card-link {
    text-decoration: none;
}
.collab-companies-cards {
    display: flex;
    justify-content: center;
    margin: 50px 60px 0 0;
    position: relative;
    gap: 3rem;
}
.collab-card-container {
    background-color: white;
    width: 16vw;
    height: 40vh;
    padding: 1rem;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}
.collab-card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--green_color);
}
.collab-logo {
    width: 8vw;
    margin: 50px 0;
    transition: 0.5s;
}
.collab-card-par {
    color: var(--navy_color);
    margin: 0 30px;
    font-size: 1vw;
    transition: 0.5s;
}



/* Contact Us section */
.contact-us-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy_color);
}
.cu-upper-content {
    height: 56%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cu-title {
    font-size: 5vw;
    font-family: var(--main-font);
}
.social-media-links {
    height: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}
.social-media-icon {
    width: 30px;
    cursor: none;
}
.cu-down-content {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contact-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: max(10px ,calc(10 / var(--messurments)* 100vw));
    height: 100%;
    width: 100%;
}
.form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: max(20px ,calc(20 / var(--messurments)* 100vw));
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.input-container {
    height: 100%;
    position: relative;
    width: 100%;
}
.full-length {
    grid-column: span 2;
}
.message-sizing {
    grid-column: span 2;
    grid-row: span 2;
}
.input {
    background-color: var(--blue-white);
    border-radius: 10px;
    border: 1px solid var(--green_color);
    box-sizing: border-box;
    color: var(--green_color);
    outline: 0;
    padding: 4px 20px 0;
    height: 100%;
    width: 100%;
}
.cut {
    background-color: var(--white-color);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 50px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(10px);
}
.placeholder {
    color: var(--navy_color);
    left: 20px;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 0.5rem;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: var(--green_color);
}
.input:focus ~ .placeholder {
    color: var(--green_color);
}
.form-submit-bt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-30deg, var(--green_color), var(--white-color));
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}
.form-bt-text {
    padding: 0px 150px;
    font-size: 6vw;
    font-family: var(--main-font);
    color: var(--navy_color);
}
.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(-30deg, var(--white-color), var(--green_color));
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-30deg, var(--green_color), var(--white-color));
    left: 0;
    top: 0;
    border-radius: 20px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}