/* Defined Variable */
:root {
    --navy_color: rgba(25, 30, 41, 1);
    --green_color: rgba(1, 195, 141, 1);
    --white-color: rgba(245, 248, 255, 1);
    --blue-white: rgba(235, 241, 255, 1);
    --main-font: "Black Future", "sans-serif";
    --sup-font: "Lato", sans-serif;
    --messurments: 1440;
}

@font-face {
    font-family: "Black Future";
    src: url("../assets/black-future.ttf") format("trueytype");
    src: url("../assets/black-future.otf") format("opentype");
}



/* Body style */
html, body {
    padding: 0;
    margin: 0;
    cursor: none;
}
body {
    font-family: var(--sup-font);
    color: var(--white-color);
    background-color: var(--navy_color);
    overflow-x: hidden;
}
.animate {
    .rm-header-text {
        animation: scaleText 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }
    span {
        animation: fade-in 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(1) {
        animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(2) {
        animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(3) {
        animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(4) {
        animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(5) {
        animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
    span:nth-child(6) {
        animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
    }
}




/* Custom Mouse Cursor style */
.custom-mouse-cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    mix-blend-mode: none;
}
.cursor-shape {
    position: absolute;
    background-image: url('../assets/custom-mouse-icon-s.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cursor-big-shape {
    width: 40px;
    height: 40px;
    mix-blend-mode: difference;
}
.cursor-small-shape {
    width: 20px;
    height: 20px;
    mix-blend-mode: difference;
}



/* Navigation Bar style */
.navigation-bar-root {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: calc(8 / var(--messurments)* 100vw);
}
.navigation-wrap {
    padding: max(8px, calc(8 / var(--messurments)* 100vw)) calc(8 / var(--messurments)* 100vw);
    position: relative;
}
.navigation-content {
    font-size: max(12px, calc(12 / var(--messurments) * 100vw));
    text-transform: uppercase;
    line-height: 116%;
    letter-spacing: -.02em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: calc(20 / var(--messurments) * 100vw);
    column-gap: calc(20 / var(--messurments)* 100vw);
}
.nav-logo {
    grid-column: span 4;
}
.nav-logo-bt {
    position: absolute;
    padding: 0;
    cursor: none;
}
.nav-logo-img {
    width: 40px;
}
.nav-menu-wrap {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid var(--white-color);
    border-radius: 10px;
    backdrop-filter: blur(3rem);
}
.nav-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: max(40px ,calc(40 / var(--messurments)* 100vw));
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-menu-link {
    color: var(--white-color);
    text-decoration: none;
    cursor: none;
}
.nav-btns {
    position: relative;
    grid-column: span 4;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: max(2px, calc(2 / var(--messurments)* 100vw));
    z-index: 1;
}
.apply-now-bt {
    width: max(132px, calc(132 / var(--messurments)* 100vw));
    padding-left: max(8px, calc(8 / var(--messurments)* 100vw));
    padding-right: max(16px, calc(16 / var(--messurments)* 100vw));
    height: max(32px, calc(32 / var(--messurments)* 100vw));
    border-radius: max(12px, calc(12 / var(--messurments)* 100vw));
    background-color: var(--green_color);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    align-content: center;
    cursor: none;
}



/* landing section style: */
.landing-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing-content {
    text-align: center;
    margin: 15vh 0 30vh 0;
}
.page-title {
    font-size: 6vw;
    font-family: var(--main-font);
    color: var(--green_color);
    margin: 0 0 0 0;
}
.page-sub-title {
    font-size: 3vw;
    margin: 0 0 0 0;
    font-weight: 400;
}
.page-tagline {
    font-weight: 400;
}
.scroll-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    height: 40px;
    background-color: var(--navy_color);
    z-index: 2;
}
.scroll-indicator-button {
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 1rem;
    text-decoration: none;
    padding: 0;
    cursor: none;
}



/* roadmpa section style */
.roadmap-section {
    position: relative;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy_color);
    transition: background-color 1.5s ease;
}
.line {
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0px 0px 12px var(--white-color);
    width: 4px;
    height: 200vh;
    top: -25vh;
    left: 50%;
    overflow: hidden;
}
.scanner-pulse {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--green_color);
    width: 100%;
    height: 20px;
    border-radius: 50%;
    animation: scanner-loop 3s ease-in-out infinite;
    filter: blur(1px);
}
@keyframes scanner-loop
{
  0% {
    top: -50px;
  }
  100% {
    top: 120%;
  }
}
.roadmap-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: ce;
    gap: 20vw;
}
.roadmap-header {
    width: 30%;
}
.rm-header-text {
    font-size: 4vw;
    color: var(--navy_color);
    transform: scale(0.94);
    animation: none;
}
@keyframes scaleText {
    100% {
        transform: scale(1);
    }
}
span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: none;
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
.card-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 50px;
    height: 150px;
    background-image: linear-gradient(var(--green_color), var(--navy_color));
    border: 4px solid var(--navy_color);
    border-radius: 15px;
    padding: 0 30px;
    margin: 10px 0;
}
.card-title {
    font-size: 2vw;
    float: left;
}
