    /* Defined Variable */
:root {
    --navy_color: rgba(25, 30, 41, 1);
    --green_color: rgba(1, 195, 141, 1);
    --white-color: rgba(245, 248, 255, 1);
    --sup-font: "Lato", sans-serif;
}








    /* General styling */
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--sup-font);
    color: var(--white-color);
    /* padding: calc(8/1440* 100vw); */
}

.section {
    height: 100vh;
    width: 100%;
}



    /* Navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 5;
}
.navbar .logo {
    max-height: 30px;
}
.navbar .menu {
    display: flex;
    gap: 20px;
}
.navbar .menu a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 16px;
}
.navbar .apply-btn {
    background-color: var(--green_color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}



    /* Landing section */
.landing-section {
    background-color: #191E29;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.page-title {
    width: 60vw;
}
.page-tagline {
    font-size: 2vw;
}
.page-das-logo {
    width: 10vw;
}












.who-we-are-section {
    background-color: var(--navy_color);
}

.services-section {
    background-color: red;
}






    /* border layout */
.top-border-layout {
    top: 0;
    position: fixed;
    z-index: 7;
    left: 0;
    right: 0;
    height: 80%;
    border-radius: calc(24 / 1440 * 100vw) calc(24 / 1440 * 100vw) 0 0;
    border: calc(8 / 1440 * 100vw) solid var(--white-color);
    border-bottom: none;
}
.top-border-layout::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(-10 / 1440 * 100vw);
    bottom: calc(-10 / 1440 * 100vw);
    left: calc(-10 / 1440 * 100vw);
    right: calc(-10 / 1440 * 100vw);
    border: calc(10 / 1440 * 100vw) solid var(--white-color);
    border-bottom: none;
}
.bot-border-layout {
    bottom: 0;
    position: fixed;
    z-index: 7;
    left: 0;
    right: 0;
    height: 80%;
    border-radius: 0 0 calc(24 / 1440 * 100vw) calc(24 / 1440 * 100vw);
    border: calc(8 / 1440 * 100vw) solid var(--white-color);
    border-top: none;
}
.bot-border-layout::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(-10 / 1440 * 100vw);
    bottom: calc(-10 / 1440 * 100vw);
    left: calc(-10 / 1440 * 100vw);
    right: calc(-10 / 1440 * 100vw);
    border: calc(10 / 1440 * 100vw) solid var(--white-color);
    border-top: none;
}