/* Defined Variable */
:root {
    --navy_color: rgba(25, 30, 41);
    --green_color: rgb(1, 195, 141);
    --white-color: rgba(245, 248, 255);
    --blue-white: rgba(235, 241, 255, 1);
    --main-font: "Black Future", "sans-serif";
    --sup-font: "Lato", sans-serif;
    --messurments: 1440;
    --card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 5;
}

@font-face {
    font-family: "Black Future";
    src: url("../assets/black-future.ttf") format("trueytype");
    src: url("../assets/black-future.otf") format("opentype");
}



/* Body style */
html, body {
    padding: 0;
    margin: 0;
    cursor: none;
}
body {
    font-family: var(--sup-font);
    color: var(--white-color);
    background-color: var(--navy_color);
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
.highlight {
    color: var(--green_color);
}
.navigation-content, .navigation-content-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}



/* Custom Mouse Cursor style */
.custom-mouse-cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    mix-blend-mode: none;
}
.cursor-shape {
    position: absolute;
    background-image: url('../assets/custom-mouse-icon-s.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cursor-big-shape {
    width: 40px;
    height: 40px;
    mix-blend-mode: difference;
}
.cursor-small-shape {
    width: 20px;
    height: 20px;
    mix-blend-mode: difference;
}



/* Navigation Bar style */
.navigation-bar-root {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: calc(8 / var(--messurments)* 100vw);
}
.navigation-wrap {
    padding: max(8px, calc(8 / var(--messurments)* 100vw)) calc(8 / var(--messurments)* 100vw);
    position: relative;
}
.navigation-content {
    font-size: max(12px, calc(12 / var(--messurments) * 100vw));
    text-transform: uppercase;
    line-height: 116%;
    letter-spacing: -.02em;
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: calc(20 / var(--messurments) * 100vw);
    column-gap: calc(20 / var(--messurments)* 100vw);
}
.nav-logo {
    grid-column: span 4;
}
.nav-logo-bt {
    position: absolute;
    padding: 0;
    cursor: none;
}
.nav-logo-img {
    width: 40px;
}
.nav-menu-wrap {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid var(--white-color);
    border-radius: 10px;
    backdrop-filter: blur(3rem);
}
.nav-list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: max(40px ,calc(40 / var(--messurments)* 100vw));
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-menu-link {
    color: var(--white-color);
    text-decoration: none;
    cursor: none;
}
.nav-btns {
    position: relative;
    grid-column: span 4;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    grid-gap: max(2px, calc(2 / var(--messurments)* 100vw));
    z-index: 1;
}
.apply-now-bt {
    width: max(132px, calc(132 / var(--messurments)* 100vw));
    padding-left: max(8px, calc(8 / var(--messurments)* 100vw));
    padding-right: max(16px, calc(16 / var(--messurments)* 100vw));
    height: max(32px, calc(32 / var(--messurments)* 100vw));
    border-radius: max(12px, calc(12 / var(--messurments)* 100vw));
    background-color: var(--green_color);
    color: var(--white-color);
    text-decoration: none;
    text-align: center;
    align-content: center;
    cursor: none;
}
.navigation-content-mobile {
    opacity: 0;
    pointer-events: none;
}



/* landing section style: */
.landing-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy_color);
}
.landing-content {
    text-align: center;
    margin: 15vh 0 30vh 0;
}
.page-title {
    font-size: 6vw;
    font-family: var(--main-font);
    color: var(--green_color);
    margin: 0 0 0 0;
}
.page-sub-title {
    font-size: 3vw;
    margin: 0 0 0 0;
    font-weight: 400;
}
.page-tagline {
    font-weight: 400;
}
.scroll-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    height: 40px;
    background-color: var(--navy_color);
    z-index: 2;
}
.scroll-indicator-button {
    background: none;
    border: none;
    color: var(--white-color);
    font-size: 1rem;
    text-decoration: none;
    padding: 0;
    cursor: none;
}
.scroll-mouse {
    width: 30px;
	height: 50px;
	border: 3px solid var(--green_color);
	border-radius: 60px;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
	&::before {
		content: '';
		width: 5px;
		height: 5px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--green_color);
		border-radius: 50%;
		opacity: 1;
		animation: wheel 1s infinite;
	}
}
@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}



/* roadmap section style */
.timeline-roadmap-section {
    height: 260vh;
    width: 100vw;
}
.timeline-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.t-r-s-title {
    color: var(--green_color);
    font-size: 6rem;
    font-family: var(--main-font);
    margin: 20vh 0 0 0;
}
.t-r-s-tagline {
    font-size: 1.5vw;
}
.timeline-line-container {
    position: relative;
    height: 70%;
}
.scroll-line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 5px;
    height: 100%;
    transform: translateX(-50%);
    background-color: var(--green_color, #ffffff);
}
.timeline-cards-container {
    position: relative;
    top: 10vh;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline-card {
    width: 35%;
    height: 20vh;
    padding: 20px;
    background-color: var(--navy_color);
    border-radius: 20px;
    margin-bottom: 10vh;
    position: relative;

    opacity: 0;
    transform: scale(0.95);
    transition: all 0.5s ease;
}
.timeline-card.active {
    opacity: 1;
    transform: scale(1);
}
.timeline-card-title {
    color: var(--green_color);
    font-size: 2.8vw;
    margin: 0;
}
.timeline-card-par {
    color: var(--blue-white);
    font-size: 1.8vw;
}
.left-card {
    align-self: flex-start;
    margin-left: 13%;
    margin-top: 0%;
    text-align: right;
}
.right-card {
    align-self: flex-end;
    margin-right: 13%;
    margin-top: 0%;
    text-align: left;
}
.card-content {
    text-align: center;
}
.timeline-point {
    width: 40px;
    height: 40px;
    background-color: var(--green_color);
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 0;
    transform: translate(50%, 0);
    z-index: 1;
    clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
.timeline-point.on-point {
    opacity: 1;
    transform: scale(1);
}




/* The das fundraising section style */
.das-fundraising-section {
    width: 100vw;
    height: 440vh;
    margin: 0 auto;
}
.vert-cards-container-title {
    width: 100%;
    font-family: var(--main-font);
    font-size: 6rem;
    position: sticky;
    text-align: center;
    top: 3vw;
    margin: 0;
    padding: 50px;
    color: var(--green_color);
    background-color: var(--navy_color);
}
#vert-cards-container {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
    list-style: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 65vw;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
    padding: 0;
    /* margin-left: 12vw;
    margin-right: 15vw; */
}
.vert-card {
    position: sticky;
    top: 15vw;
    padding-top: 0;
    transform-origin: 50% 0%;
    will-change: transform;
}
.vert-card-content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: var(--white-color);
    color: var(--navy_color);
    border-radius: 1rem;
    overflow: hidden;
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: stretch;
}
.vert-card-text {
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;
    margin: 50px;
    padding: 0px;
    display: grid;
    gap: 1rem;
    place-items: start;
}
.vert-card-content > figure {
    grid-area: img;
    overflow: hidden;
    border-radius: 20px;
    margin: 40px;
}
.vert-card-content > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vert-card-header {
    font-weight: 600;
    font-size: 3em;
    color: var(--green_color);
    margin: 0;
}
.vert-card-par {
    font-weight: 300;
    font-size: 1vw;
    padding: 0;
    /* margin: -50px 0 -50px 0; */
}
.carousel-indicators {
    position: relative;
    left: 47%;
}
.rounded-full {
    height: 15px;
    width: 10px;
    border-radius: 100%;
    background-color: rgb(99, 99, 99);
    transition: background-color 0.3s ease;
}
/* Indicator dot styles */
.rounded-full[aria-current="true"] {
    background-color: #01c38d; /* Green color when active */
}
.rounded-full[aria-current="false"] {
    background-color: #d3d3d3; /* Grey when inactive */
}



/* The DAS Offering section style */
.das-offering-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-color: var(--navy_color);
    margin-top: 20vh;
}
.das-offering-text {
    width: 100%;
    text-align: center;
}
.offering-title {
    font-size: 6rem;
    font-family: var(--main-font);
    color: var(--green_color);
    margin: 0;
}
.offering-tagline {
    font-size: 3vw;
    margin: 0 0 50px 0;
}
.slideshow-container {
    width: 60%;
    position: relative;
    margin: 20px;
    overflow: hidden;
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--green_color);
    font-size: 4vw;
    transition: 0.6s ease;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.carousel-item {
    text-align: center;
}
.offer-stage-title {
    color: var(--green_color);
    font-size: 3vw;
    margin: 0 0 0 0;
}
.offer-stage-par {
    color: var(--blue-white);
    font-size: 25px;
    padding: 0px 10vw;
    /* position: absolute; */
    bottom: -20px;
    width: 100%;
    text-align: center;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: var(--green_color);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* infinite carousel */
.infinite-carousel {
    overflow: hidden;
    width: 100%;
    background-color: #f0f0f0; /* Optional: background color for carousel container */
}

.logo-scrolling-container {
    display: flex;
    gap: 20px; /* Space between logos */
    animation: scroll 30s linear infinite;
    width: max-content; /* Ensures container shrinks to fit logos */
}

.logo-scrolling-container div {
    flex: none; /* Prevents logos from shrinking */
}

.logo-scrolling-container img {
    width: 80px; /* Set a specific width for all logos */
    height: auto; /* Maintain aspect ratio */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}




/* infinit carousel styling */
.infinite-eco-carousel-section {
    overflow: hidden;
    white-space: nowrap;
    padding: 20px;
    position: relative;
}
.infinite-eco-carousel-section::before,
.infinite-eco-carousel-section::after {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    content: "";
    z-index: 2;
    pointer-events: none;
}
.infinite-eco-carousel-section:hover .scrolling-ecosystem {
    animation-play-state: paused;
}
.scrolling-ecosystem {
    display: inline-block;
    animation: infi-scroll 55s infinite linear;
}
.eco-item {
    height: 15px;
    margin: 0 40px;
}
@keyframes infi-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
.infinite-part-carousel-section {
    overflow: hidden;
    white-space: nowrap;
    padding: 20px;
    position: relative;
}
.infinite-part-carousel-section::before,
.infinite-part-carousel-section::after {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    content: "";
    z-index: 2;
    pointer-events: none;
}
.infinite-part-carousel-section:hover .scrolling-partners {
    animation-play-state: paused;
}
.scrolling-partners {
    display: inline-block;
    animation: 45s left-infi-scroll infinite linear;
}
.part-item {
    height: 15px;
    margin: 0 40px;
}
@keyframes left-infi-scroll {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}



/* contact us seperator */
.contact-us-bg-element {
    width: 100vw;
    height: 20vh;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
}
.overlay-blur {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40vh;
	position: absolute;
	width: 100%;
    filter: blur(40px);
}
.shape-blob {
	background: var(--green_color);
	border-radius: 40% 50% 30% 40%;
	opacity: 0.7;
}
.one {
	height: 250px;
	width: 300px;
	left: 10px;
	top: 10px;
	transform: rotate(180deg);
	animation:
        transform 15s ease-in-out infinite both alternate,
        movement_one 20s ease-in-out infinite both;
}
@keyframes movement_one {
    0%,
  100% {transform: none;}
   50% {transform: translate(5%, -20%) rotateY(10deg) scale(1.6);}
}
.two {
    height: 170px;
	width: 200px;
	left: 160px;
	top: 200px;
	transform: rotate(-180deg);
	animation:
        transform 10s ease-in-out infinite both alternate,
        movement_two 15s ease-in-out infinite both;
}
@keyframes movement_two {
    0%,
  200% {transform: none;}
   50% {transform: translate(0%, -20%) rotate(-200deg) scale(1.3);}
}
.three {
	height: 200px;
	width: 180px;
	left: 350px;
	top: 60px;
	transform: rotate(-180deg);
	animation:
        transform 17s ease-in-out infinite both alternate,
        movement_three 13s ease-in-out infinite both;
}
@keyframes movement_three {
    0%,
    100% {transform: none;}
    50% {transform: translate(10%, -20%) rotate(-100deg) scale(1.7);}
}
.four {
    height: 200px;
    width: 180px;
    left: 480px;
    top: 30px;
    transform: rotate(-180deg);
	animation:
        transform 12s ease-in-out infinite both alternate,
        movement_four 18s ease-in-out infinite both;
}
@keyframes movement_four {
    0%,
    250% {transform: none;}
    50% {transform: translate(30%, -20%) rotate(-300deg) scale(1);}
}
.five {
    height: 250px;
    width: 250px;
    left: 600px;
    top: 150px;
    transform: rotate(-180deg);
	animation:
        transform 10s ease-in-out infinite both alternate,
        movement_five 10s ease-in-out infinite both;
}
@keyframes movement_five {
    0%,
    150% {transform: none;}
    50% {transform: translate(5%, -20%) rotate(-50deg) scale(1.5);}
}
.six {
    height: 250px;
    width: 250px;
    left: 800px;
    top: 30px;
    transform: rotate(-180deg);
	animation:
        transform 7s ease-in-out infinite both alternate,
        movement_six 23s ease-in-out infinite both;
}
@keyframes movement_six {
    0%,
    300% {transform: none;}
    50% {transform: translate(10%, -20%) rotate(-150deg) scale(1.2);}
}
.seven {
    height: 250px;
	width: 300px;
	left: 10px;
	top: 10px;
	transform: rotate(180deg);
	animation:
        transform 15s ease-in-out infinite both alternate,
        movement_seven 20s ease-in-out infinite both;
}
@keyframes movement_seven {
    0%,
    100% {transform: none;}
    50% {transform: translate(5%, -20%) rotate(-200deg) scale(0.9);}
}
.eight {
    height: 170px;
	width: 200px;
	left: 160px;
	top: 200px;
	transform: rotate(-180deg);
	animation:
        transform 15s ease-in-out infinite both alternate,
        movement_eight 10s ease-in-out infinite both;
}
@keyframes movement_eight {
    0%,
    200% {transform: none;}
    50% {transform: translate(10%, -20%) rotate(-100deg) scale(1.7);}
}
.nine {
    height: 200px;
	width: 180px;
	left: 350px;
	top: 60px;
	transform: rotate(-180deg);
	animation:
        transform 17s ease-in-out infinite both alternate,
        movement_nine 13s ease-in-out infinite both;
}
@keyframes movement_nine {
    0%,
    100% {transform: none;}
    50% {transform: translate(20%, -20%) rotate(-300deg) scale(1.1);}
}
.ten {
    height: 200px;
    width: 180px;
    left: 480px;
    top: 30px;
    transform: rotate(-180deg);
	animation:
        transform 12s ease-in-out infinite both alternate,
        movement_ten 24s ease-in-out infinite both;
}
@keyframes movement_ten {
    0%,
    300% {transform: none;}
    50% {transform: translate(30%, -20%) rotate(-350deg) scale(1.8);}
}
.eleven {
    height: 250px;
    width: 250px;
    left: 600px;
    top: 150px;
    transform: rotate(-180deg);
	animation:
        transform 10s ease-in-out infinite both alternate,
        movement_eleven 10s ease-in-out infinite both;
}
@keyframes movement_eleven {
    0%,
    200% {transform: none;}
    50% {transform: translate(15%, -20%) rotate(-120deg) scale(0.9);}
}
.twelve {
    height: 250px;
    width: 250px;
    left: 800px;
    top: 30px;
    transform: rotate(-180deg);
	animation:
        transform 7s ease-in-out infinite both alternate,
        movement_twelve 33s ease-in-out infinite both;
}
@keyframes movement_twelve {
    0%,
    100% {transform: none;}
    50% {transform: translate(30%, -20%) rotate(-300deg) scale(2);}
}
@keyframes transform {
    0%, 100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
    20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
    40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
    60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
    80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; }
    10% { border-radius: 34% 66% 68% 32% / 32% 38% 68% 68%; } 
    30% { border-radius: 35% 65% 60% 40% / 36% 45% 50% 65%; } 
    50% { border-radius: 38% 62% 55% 45% / 40% 50% 60% 55%; } 
    70% { border-radius: 39% 61% 57% 43% / 35% 45% 65% 50%; }
}



/* Contact Us section */
.contact-us-section {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--navy_color);
}
.cu-upper-content {
    /* height: 56%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cu-title {
    font-size: 6vw;
    font-family: var(--main-font);
}
.social-media-links {
    height: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}
.social-media-icon {
    width: 30px;
    cursor: none;
}
.cu-down-content {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contact-bt-email {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--green_color);
    color: var(--blue-white);
    font-size: 3vw;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.contact-bt-email:hover {
    background-color: var(--blue-white);
    color: var(--green_color);
}
/* .contact-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: max(10px ,calc(10 / var(--messurments)* 100vw));
    height: 100%;
    width: 100%;
}
.form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: max(20px ,calc(20 / var(--messurments)* 100vw));
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    width: 100%;
}
.input-container {
    height: 100%;
    position: relative;
    width: 100%;
}
.full-length {
    grid-column: span 2;
}
.message-sizing {
    grid-column: span 2;
    grid-row: span 2;
}
.input {
    background-color: var(--blue-white);
    border-radius: 10px;
    border: 1px solid var(--green_color);
    box-sizing: border-box;
    color: var(--green_color);
    outline: 0;
    padding: 4px 20px 0;
    height: 100%;
    width: 100%;
}
.cut {
    background-color: var(--white-color);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 50px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(10px);
}
.placeholder {
    color: var(--navy_color);
    left: 20px;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 0.5rem;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: var(--green_color);
}
.input:focus ~ .placeholder {
    color: var(--green_color);
} */
/* .form-submit-bt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-30deg, var(--green_color), var(--white-color));
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
} */
/* .form-bt-text {
    padding: 0px 50px;
    font-size: 5vw;
    font-family: var(--main-font);
    color: var(--navy_color);
} */
/* .glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(-30deg, var(--white-color), var(--green_color));
} */
/* .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-30deg, var(--green_color), var(--white-color));
    left: 0;
    top: 0;
    border-radius: 20px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */



/* Media Quesries for Phone Devices: */
@media (max-width: 480px) {

    /* body styling */
    .custom-mouse-cursor {
        opacity: 0;
    }



    /* page seperator element: */
    .background-container {
        width: 20vw;
        height: 40vh;
    }
    .contact-us-bg-element {
        width: 100vw;
        height: 20vh;
        z-index: 1;
        pointer-events: none;
        overflow: hidden;
    }
    .overlay-blur {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40vh;
        position: absolute;
        width: 100%;
        filter: blur(40px);
    }
    .shape-blob {
        background: var(--green_color);
        border-radius: 40% 50% 30% 40%;
        opacity: 0.7;
        transform: rotate(180deg);
        animation: none;
    }



    /* Navigation Bar: */
    .navigation-content {
        opacity: 0;
        z-index: 0;
        pointer-events: none;
    }
    .navigation-content-mobile {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50vw;
        z-index: 5;
        pointer-events: all;
    }
    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        left: 25px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    #menuToggle span {
        display: flex;
        width: 29px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: var(--white-color);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(48deg) translate(-3px, -1px);
        background: var(--navy_color);
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-48deg) translate(0, -1px);
    }
    #mobile-menu {
        position: absolute;
        width: 90vw;
        height: 60vh;
        box-shadow: 0 0 10px #85888C;
        border-radius: 20px;
        margin: -20px 0 0 30px;
        padding: 40px;
        padding-top: 55px;
        background-color: var(--white-color);
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-250%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        list-style-type: none;
    }
    .drop-down-item {
        padding: 10px 0;
        transition-delay: 2s;
        font-size: 7vw;
    }
    .drop-down-item a {
        color: var(--navy_color);
        padding: 10px;
        transition: 200ms;
    }
    #menuToggle input:checked ~ ul {
        transform: translate(-100%, 0);
    }
    .drop-down-apply-button {
        width: max(132px, calc(132 / var(--messurments)* 100vw));
        padding-left: max(8px, calc(8 / var(--messurments)* 100vw));
        padding-right: max(16px, calc(16 / var(--messurments)* 100vw));
        height: max(32px, calc(32 / var(--messurments)* 100vw));
        border-radius: max(12px, calc(12 / var(--messurments)* 100vw));
        background-color: var(--green_color);
        color: var(--white-color);
        text-decoration: none;
        text-align: center;
        align-content: center;
        cursor: none;
    }


    
    /* Landing section: */
    .landing-section {
        width: 100vw;
        height: 100vh;
    }
    .landing-content {
        margin: 20vh 0 30vh 0;
    }
    .page-title {
        font-size: 8vw;
    }
    .page-sub-title {
        font-size: 6vw;
    }
    .page-tagline {
        font-size: 4vw;
    }
    .scroll-indicator-button {
        font-size: 0.9rem;
    }



    /* Roadmap section: */
    .timeline-roadmap-section {
        height: 280vh;
        width: 100vw;
    }
    .t-r-s-title {
        font-size: 6vw;
        margin: 10vh 0 0 0;
    }
    .t-r-s-tagline {
        font-size: 2.5vw;
    }
    .timeline-line-container {
        height: 100%;
    }
    .scroll-line {
        position: absolute;
        left: 50%;
        top: 0;
        width: 5px;
        height: 100%;
        transform: translateX(-50%);
        background-color: var(--green_color, #ffffff);
    }
    .timeline-cards-container {
        position: relative;
        top: 10vh;
        margin: 0 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .timeline-card {
        width: 90%;
    }
    .timeline-card-title {
        font-size: 7vw;
    }
    .timeline-card-par {
        font-size: 4vw;
    }
    .left-card {
        margin-left: 4%;
        margin-top: 20%;
        text-align: center;
    }
    .right-card {
        margin-right: 4%;
        margin-top: 20%;
        text-align: center;
    }
    .card-content {
        text-align: center;
    }
    .timeline-point {
        width: 40px;
        height: 40px;
        background-color: var(--green_color);
        border-radius: 50%;
        position: relative;
        top: 50px;
        left: 0;
        transform: translate(50%, 0);
        z-index: 1;
        clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
        opacity: 0;
        transform: scale(0.95);
        transition: all 0.3s ease;
    }
    .timeline-point.on-point {
        opacity: 1;
        transform: scale(1);
    }



    /* Fundraising Roadmap section */
    .das-fundraising-section {
        width: 100vw;
        height: 390vh;
        margin: 0 auto;
    }
    .vert-cards-container-title {
        font-size: 8vw;
        padding: 40px 0;
    }
    #vert-cards-container {
        gap: 50vh;
        padding: 0;
        margin: 0 0 0 -5vw;
        align-content: center;
    }
    .vert-card {
        width: 70vw; /* Adjust card width to fit smaller screens */
        display: inline-block;
        transform: none; /* Remove sticky behavior for horizontal layout */
        top: 30vw;
    }
    .vert-card-content {
        display: flex; /* Use flexbox for centering */
        flex-direction: column; /* Stack content vertically */
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        text-align: center; /* Center text */
        height: 70vh; /* Ensure consistent height */
    }
    .vert-card-text {
        width: 100%; /* Full width for text */
        text-align: center; /* Center text */
        display: flex; /* Use flexbox to center */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .vert-card-header {
        font-size: 10vw;
    }
    .vert-card-par {
        width: 80%;
        white-space: wrap;
        font-size: 4vw;
    }
    .vert-card-content > figure {
        display: none; /* Hide the image */
    }



    /* DAS Offering section */
    .das-offering-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: var(--navy_color);
    }
    .das-offering-text {
        width: 100%;
        text-align: center;
        margin-bottom: 2vh;
    }
    .offering-title {
        font-size: 8vw;
        color: var(--green_color);
        margin: 0;
    }
    .offering-tagline {
        font-size: 5vw;
        margin: 0 0 50px 0;
    }
    .slideshow-container {
        width: 90%;
        position: relative;
        margin: 20px;
        overflow: hidden;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: var(--green_color);
        font-size: 4vw;
        transition: 0.6s ease;
        user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .carousel-item {
        text-align: center;
    }
    .offer-stage-title {
        color: var(--green_color);
        font-size: 6vw;
        margin: 0 0 50vh 0;
    }
    .offer-stage-par {
        color: var(--blue-white);
        font-size: 15px;
        padding: 8px 70px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
        background-color: var(--green_color);
    }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }



    /* Contact us section */
    .contact-us-section {
        height: 100vh;
        width: 100vw;
    }
    .cu-upper-content {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cu-title {
        font-size: 8vw;
        margin-top: 70px;
        font-family: var(--main-font);
    }
    .social-media-links {
        height: 4%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 10px;
        margin: 0;
    }
    .social-media-icon {
        width: 30px;
        cursor: none;
    }
    .cu-down-content {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .contact-form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: max(10px ,calc(10 / var(--messurments)* 100vw));
        height: 100%;
        width: 100%;
    }
    .form-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: max(20px ,calc(20 / var(--messurments)* 100vw));
        background-color: var(--white-color);
        border-radius: 20px;
        padding: 20px;
        height: 100%;
        width: 100%;
    }
    .input-container {
        height: 100%;
        position: relative;
        width: 100%;
    }
    .full-length {
        grid-column: span 0;
    }
    .mobile-full-length {
        grid-column: span 2;
    }
    .message-sizing {
        grid-column: span 0;
        grid-row: span 2;
    }
    .input {
        background-color: var(--blue-white);
        border-radius: 10px;
        border: 1px solid var(--green_color);
        box-sizing: border-box;
        color: var(--green_color);
        outline: 0;
        padding: 4px 20px 0;
        height: 100%;
        width: 100%;
    }
    .cut {
        background-color: var(--white-color);
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0px);
        transition: transform 200ms;
        width: 76px;
    }
    .cut-short {
        width: 50px;
    }
    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(10px);
    }
    .placeholder {
        color: var(--navy_color);
        left: 20px;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 0.5rem;
    }
    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
    }
    .input:not(:placeholder-shown) ~ .placeholder {
        color: var(--green_color);
    }
    .input:focus ~ .placeholder {
        color: var(--green_color);
    }
    .form-submit-bt {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(-30deg, var(--green_color), var(--white-color));
        border-radius: 20px;
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 0;
    }
    .form-bt-text {
        padding: 0px 50px;
        font-size: 6vw;
        font-family: var(--main-font);
        color: var(--navy_color);
    }
    .glow-on-hover {
        border: none;
        outline: none;
        color: #fff;
        background-image: linear-gradient(-30deg, var(--white-color), var(--green_color));
    }
    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color), var(--white-color), var(--green_color));
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 20px;
    }
    .glow-on-hover:active:after {
        background: transparent;
    }
    .glow-on-hover:hover:before {
        opacity: 1;
    }
    .glow-on-hover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-30deg, var(--green_color), var(--white-color));
        left: 0;
        top: 0;
        border-radius: 20px;
    }
}